<ul id="gear-dropdown" class="gear-dropdown hidden">
	<div class="dropdown-box">
		<li>
			<ul class="editions">
				<span class="dropdown-subtitle">Edition</span>
				<li class="edition-items"><a href="#">CSS</a></li>
				<li class="edition-items"><a href="#">HTML</a></li>
				<li class="edition-items"><a href="#">Javascript</a></li>
				<li class="edition-items"><a href="#">Ruby</a></li>
			</ul>
		</li>
		<li>
			<span class="dropdown-subtitle">Help</span>
			<ul class="help">
				<li class="help-items"><a href="#">FAQ</a></li>
				<li class="help-items"><a href="#">Contact Us</a></li>
			</ul>
		</li>
	</div>
</ul>