<div class="masthead">    
    <ul class="language-nav">
        <li id="first-link"><a href="">CSS</a></li> 
        <li><a href="">HTML</a></li> 
        <li><a href="">Javascript</a></li> 
        <li><a href="">Ruby</a></li>
    </ul>

    <img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">

    <ul class="masthead-links">
        <li>Tuesday, October 18, 2016</li>
        <li class="underline">
            <i class="far fa-newspaper"></i>
            Today’s Paper
        </li>
        <li class="underline">
            <i class="fas fa-video"></i>
            Video
        </li>
        <li class="gray">77°F</li>
        <li class="gray" id="last-link">AAO <strong> +100%</strong></li>
    </ul>
</div>