<div class="sections-nav">
    <ul class="sections">
        <li class="gray">World</li>
        <li class="gray">San Francisco</li>
        <li class="gray">New York</li>
        <li class="gray">Bootcamp Prep</li>
        <li class="gray">Jumpstart</li>
        <li class="gray">Online</li>
        <li class="gray">Marketing</li>
        <li class="gray">Sales</li>
        <li class="gray">TalentMatch</li>
        <li class="gray">Alumni</li>
        <li class="underline">All</li>
    </ul>
</div>